# Futu Account Configuration
FUTU_ACCOUNT_ID=28507949
FUTU_ACCOUNT_PWD=Edu-074004
FUTU_OPEND_IP=0.0.0.0
FUTU_OPEND_PORT=11111
FUTU_RSA_FILE_PATH=/.futu/futu.pem

# Google Sheets (for futu-script)
SERVICE_FILE=/app/service_account.json
SHEET_NAME=LID Risk Management
WORKSHEET_TITLE=Today

# Schedule (futu-script runs at this time)
TARGET_HOUR=04
TARGET_MINUTE=00
